:root {
    --avatar-dimension: 12px;
}
.connected-user-container {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: var(--dashboard-elements-radius);
    gap: 1rem;
}
.connected-user-avatar {
    padding: var(--avatar-dimension);
    background-color: lightgreen;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connected-user-name {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--dashboard-dark-color);
}
.connected-user-role {
    margin: 0;
    color: #838383;
}