.doctor-info-card-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.doctor-info-card-icon {
    padding: 1rem;
    background-color: lightblue;
    border-radius: 100px;
}
.doctor-info-card-text h3, .doctor-info-card-text p {
    margin: 0;
}
.doctor-info-card-text h3 {
    opacity: .8;
}
.doctor-info-card-text p {
    font-size: 1rem;
    font-weight: 700;
}
.doctor-info-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.doctor-info-card-button {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: rgb(54, 124, 148);
    border: transparent;
    color: #fff;
    border-radius: 100px;
}
.doctor-info-card-button:hover {
    cursor: pointer;
}