.event-list-container {
    padding: 2rem;
    background-color: #fff;
    margin-top: 3rem;
    border-radius: var(--dashboard-elements-radius);
}
.event-list-container-title {
    font-size: 1.7rem;
    color: var(--dashboard-dark-color);
}
.event-container:hover {
    cursor: pointer;
}
.event-container-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}                      
.event-container-div-icon {
    background-color: red;
    padding: 1rem;
    border-radius: 100px;
}

.event-schedule-item-time {
    font-size: 1rem;
    margin: 0;
}
.event-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
