.notification-parent {
    background-color: #fff;
    margin-top: 20px;
    padding: 1rem 2rem;
    border-radius: var(--dashboard-elements-radius);
}
.notification-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.notification-title {
    font-size: 2rem;
    color: var(--dashboard-dark-color);
    margin-bottom: 0;
}
.notification-description {
    margin-top: .3rem;
    font-size: 1.1rem;
    color: var(--dashboard-light-dark-color);
}
.notification-bell-container {
    background-color: lightgreen;
    stroke: #fff;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.notification-bell{
    stroke: #fff;
}
.unread-message-count {
    position: absolute;
    font-weight: 700;
    background-color: red;
    color: #fff;
    padding: .4rem;
    border-radius: 100%;
    right: -5px;
    top: 5px;
}
.connect-button {
    display:inline-flex;
    padding: .5rem .5rem .5rem 1rem;
    background-color: lightgreen;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.connect-button-icon-container {
    background-color: rgb(113, 194, 113);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}