.category-form-container {
    margin-bottom: 2rem;
    background-color: #fff;
    width: 50%;
    padding: 2rem;
    border-radius: var(--dashboard-elements-radius);
}
.category-form-input {
    padding: 1rem;
    width: 100%;
}
.category-form-label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
.category-button {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 100px;
    margin-top: 1rem;
}
.category-form-error {
    display: block;
    margin-top: .3rem;
    color: red;
}