.doctor-creation-form, .doctor-edit-form {
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: var(--dashboard-elements-radius);
}
.doctor-form-field-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.doctor-form-field-title {
    /*font-size: 2rem;*/
    margin-bottom: 1rem;
}
.doctor-form-field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.doctor-form-field button {
    display: block;
}
.doctor-form-label, .doctor-form-day {
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: .4rem;
}
.timepicker {
    display: flex;
    gap: 2rem;
    flex: 1;
}
.timepicker input, .doctor-personal-info {
    display: block;
    width: 100%;
    padding: .5rem;
}
.timepicker input {
    display: block;
    width: 100%;
}
.timepicker button {
    display: flex;
    align-items: center;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 1rem;
}
.timepicker button:hover {
    cursor: pointer;
}
.speciality-field {
    display: block;
    width: 200px;
    padding: .5rem;
}
.doctor-form-buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.doctor-form-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #333;
    border: transparent;
    color: #fff;
    border-radius: 100px;
}

.doctor-form-button:hover  {
    cursor: pointer;
}

