.blog-creation-container {
    display: grid;
    grid-template-columns: 10% 25% 65%;
    height: 100vh;
}
.blog-creation-excerpt-section {
    padding: 0 1.5rem;
    border-right: 1px solid #c5c5c5;
}
.blog-creation-markdown-section {
    padding-left: 1rem;
}
.blog-creation-excerpt-section-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-creation-excerpt-section-content label {
    font-size: 1.1rem;
}
.blog-creation-side-navigation { 
    border-right: 1px solid #c5c5c5;
}
.excerpt-field {
    width: 100%;
    padding: 1rem;
}
.bodyExcerpt {
    height: 300px;
}
.features-post-container {
    display: flex;
    align-items: center;
    gap: .4rem;
}
#features-post {
    width: 20px;
    height: 20px;
}

label[for="features-post"] {
    font-size: 1.1rem;
}