.blog-post {
    margin: 0 20px;
}
img {
    width: 100%;
    margin-top: 4rem;
}
.blog-post h1, .blog-post h2, .blog-post h3 {
    font-family: var(--main-title-font);
    font-weight: 300;
}
.blog-post p {
    line-height: 1.7;
    font-family: serif;
}

@media screen and (width >= 1000px){
    .blog-post {
        margin: 0 40rem;
    }
}