        :root {
            --serif-font: "Old Standard TT", serif;
            --sans-font: "Inter", sans-serif;
            --img-color: #5191a5;
            --main-title-mobile-size: 1.2rem;
            --title-mobile-size: 1.6rem;
            --section-mobile-space: 6rem;
            --section-desk-space: 10rem;

            --image-card-desktop-height: 500px;
            --border-color: #333;
            --article-dsk-title-font-size: 1.4rem;
            --article-dsk-sub-font-size: 1.2rem;

            --category-title-font-size: 2.3rem;
        }
        .blog-homepage p {
            line-height: 1.4;
        }
        .container {
            margin: 0 20px;
        }
        .container-article {
            margin: 0 20rem;
        }
        .blog-header {
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 1rem;
        }
        .blog-header-title {
            font-family: var(--serif-font);
            font-size: 5rem;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            font-weight: 500;
        }
        .and {
            font-size: 3rem;
        }
        .blog-header-subtitle {
            margin: 0;
            opacity: .4;
            font-weight: 400;
        }

        /* RECENT SECTION START */
        .recent-parent {
            display: grid;
            grid-template-columns: 1fr;
        }
       
        .recent-container-grid {
            display: grid;
            row-gap: 1.5rem;
        }
        .article-vert-card-img {
            width: 100%;
            height: 200px;
            background-color: var(--img-color);
        }
        .article-vert-card-title {
            margin: 1rem 0 .5rem 0;
            font-size: var(--main-title-mobile-size);
        }

        .article-hor-card{
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            column-gap: 1rem;
            font-size: .7rem;
            margin-bottom: 1rem;
        }
        .article-hor-card-img img {
            width: 100%;
        }
        
        .article-hor-card-title {
            font-size: var(--title-mobile-size);
            margin: 0 0 .4rem 0;
        }
        .article-hor-card:last-child {
            margin-bottom: 0;
        }
        .related-container {
            display: grid;
            margin-top: var(--section-mobile-space);
            row-gap: 3rem;
        }
        .related-posts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        
        .article-related-card{
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            column-gap: 1rem;
        }
        .article-related-card-img {
            background-color: var(--img-color);
        }
        .article-related-card-title {
            font-size: var(--title-mobile-size);
        }
        .category-container {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: var(--section-mobile-space);
        }
        
        .category-img {
            order: 1;
        }

        .card-deco {
            height: var(--image-card-desktop-height);
            background-color: var(--img-color);
            display: flex;
            align-items: flex-end;
            padding-left: 1rem;
            color: #f1f1f1;
            padding-bottom: 1rem;
        }

        .card-deco p {
            font-size: 4rem;
            color: #f1f1f1;
            margin: 0;
            padding: 0;
        }

        .category-list {
            order:2;
        }
        
        .category-card {
            font-size: var(--main-title-mobile-size);
            border-bottom: 1px solid var(--border-color);
        }
        .category-card:last-child {
            border-bottom: none;
        }
        .category-card h3 {
            font-size: calc(var(--category-title-font-size) - 5px);
        }
        .post-excerpt-container {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: var(--section-mobile-space);
        }
        .post-excerpt-container-grid {
            display: grid;
            margin-top: 4rem;
            row-gap: 3rem;
        }
        .post-excerpt-img {
            width: 100%;
        }
        .post-excerpt-img img {
            width: 100% !important;
        }
        .post-excerpt-title {
            font-size: var(--title-mobile-size);
        }

        .banner-container {
            background-color: var(--img-color);
            color: #f1f1f1;
            margin-top: var(--section-mobile-space);
        }

        .banner-text {
            padding-top: 5rem;
            padding-bottom: 7rem;
        }
        .banner-title {
            font-size: 3rem;
            margin: 0;
        }

        @media screen and (width >= 550px){
            .recent-container-grid {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 1rem;
                row-gap: 0;
           }
           .post-excerpt-container-grid {
             grid-template-columns: repeat(2, 1fr);
             gap: 2rem;
           }
        }
        
        @media screen and (width >= 935px){
            .container {
                margin: 0 2rem;
            }
            .recent-parent {
                grid-template-columns: 3fr 1fr;
                margin-top: 2rem;
                border-top: 1px solid var(--border-color);
                padding-top: 2rem;
            }
            .recent-container {
                padding-right: 1rem;
            }
            .recent-aside-container {
                border-left: 1px solid var(--border-color);
                padding-left: 1rem;
            }
            .article-vert-card-title {
                font-size: var(--article-dsk-title-font-size);
            }
            .article-vert-card-sub {
                font-size: var(--article-dsk-sub-font-size);
                opacity: .7;
                font-weight: 600;
            }
            .article-vert-card p {
                margin-top: .4rem;
            }
            .article-hor-card-title {
                font-size: var(--article-dsk-sub-font-size);
            }
            .article-hor-card-para {
                font-size: 1.1rem;
            }
            .related-container {
                grid-template-columns: repeat(2, 1fr);
                align-items: flex-end;
                row-gap: 0;
                margin-top: var(--section-mobile-space);
            }
            .card-deco {
                height: 100%;
                padding-left: 2rem;
            }
            .related-img {
                margin-right: 2rem;
            }
            .related-posts {
                border-left: 1px solid var(--border-color);
                padding-left: 2rem;
            }

            .category-container {
                grid-template-columns: repeat(2, 1fr);
                margin-top: var(--section-mobile-space);
            }
            .category-list {
                padding-right: 2rem;
                border-right: 1px solid var(--border-color);
                order: 1;
            }
            .category-img {
                margin-left: 2rem;
                order: 2;
            }
            .category-card h3 {
                font-size: var(--category-title-font-size);
            }
            .post-excerpt-container {
                grid-template-columns: repeat(2, 1fr);
                margin-top: var(--section-mobile-space);
            }
            .post-excerpt-container-grid {
                border-left: 1px solid var(--border-color);
                padding-left: 2rem;
                margin-top: 0;
            }
            .post-excerpt-card-img {
                margin-right: 2rem;
            }
            .post-excerpt-title {
                font-size: var(--article-dsk-title-font-size);
            }
            .post-excerpt-sub {
                font-size: var(--article-dsk-sub-font-size);
            }
            .banner-text {
                width: 60%;
            }
            .banner-title {
                font-size: 5rem;
            }
        }

        @media screen and (width >= 1329px){
            .container {
                margin: 0 17rem;
            }
            .recent-parent {
                margin-top: 3rem;
            }
            .recent-container {
                padding-right: 2rem;
            }
            .recent-aside-container {
                padding-left: 2rem;
            }
            .related-container {
                margin-top: var(--section-desk-space);
            }
            .category-container {
                margin-top: var(--section-desk-space);
            }
            .post-excerpt-container {
                margin-top: var(--section-desk-space);
            }
            .banner-text {
                padding-top: 16rem;
                padding-bottom: 20rem;
                width: 40%;
                margin-top: var(--section-desk-space);
            }
        }